#pProfile{
  font-size: 25px;
  color: green;
  text-align: center;
}
#formulario{
  position: relative;
  float: right;
  width: 950px;
  padding: 20px;
  margin-right: 50px;
 
}
#file{
  position: absolute;
  flex: left;
  width: 325px;
  margin-left: 20px;
}

#btnAlterar{
  position: absolute;
  right: 20px;
}