#btnVoltar{
  position: absolute;
  top: 70px;
  margin: 10px;
}

#mainPerfil{
  margin: 0 200px 0 200px;
  padding: 20px;
  border: solid ;
  height: auto;
}
#perfilP{
  margin: 20px 55px 0 0;
  color: black;
  font-size: 12pt;
  overflow: hidden;
  white-space: normal
}
#imgPerfil{
  border-radius: 50%;
  width: 90px;
  border: solid 1px lightgrey;
  margin: 62px 20px 20px 20px;
}
#imgComment{
  border-radius: 50%;
  width: 70px;
  border: solid 1px lightgrey;
  margin: 20px 20px 20px 4px;
}
#titlePerfil{
 font-weight: bold;
 text-decoration:underline;
}
#pBody{
  width: auto;
  text-align: justify;
}
#corpo{
  width: 650px;
  height: auto;
  border: none;
}
#comments{
  width: auto;
  font-size: 12pt;
}
#commentText{
    text-align: justify;
    margin: 20px 20px 5px 0;

}
#commentsBox{
  margin-bottom: 0px;
}